<form action="javascript:void(0);">
    <label for="keywords">Keywords:</label><br>
    <input type="text" id="keywords" name="keywords"><br>
    <label for="start_date">Start Date:</label><br>
    <input type="text" id="start_date" name="start_date"><br>
    <label for="end_date">End Date:</label><br>
    <input type="text" id="end_date" name="end_date"><br>
    <label for="coordinates">Coordinates:</label><br>
    <input type="text" id="lat" name="lat"><br><br>
    <input type="text" id="lon" name="lon"><br><br>
    <input type="submit" value="Submit">
</form>

