.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 50px;
    padding: 50px;
  }

  .map-frame {
    border: 2px solid black;
    height: 100%;
  }

  #map {
    height: 100%;
  }

  body {
    text-align: center;
}
form {
    display: inline-block;
    margin: 40px;

    position:relative;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
}
input
{
  margin: 5px;
  margin-bottom: 15px;

}
